<%inherit file="/base.html"/>

<script src="${STATIC_URL}client/controllers/home.js" type="text/javascript"></script>
<script src="${STATIC_URL}client/controllers/site.js" type="text/javascript"></script>

<!--图表控件-->
<script type="text/javascript" src="${STATIC_URL}js/plug-in/highcharts/highcharts.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/plug-in/highcharts/highcharts-3d.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/plug-in/highcharts/exporting.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/plug-in/highcharts/highcharts-more.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/plug-in/highcharts/solid-gauge.js"></script>

<!--此处添加js-->
<script type="text/javascript" src="${STATIC_URL}client/controllers/test.js"></script>
