<div style="width: 100%; height: 100%;padding: 5px">
    <fieldset class="fieldsetName">
        <legend style="">查询条件</legend>
        <div class="container-fluid">
            <div style="float:left;">
                <label style="float:left;margin-top: 5px;">考试名称：</label>
                <input type="text" ng-model="args.name" style="width:150px;float:left;"
                       class="form-control" />
            </div>
            <div style="float:left;margin-left: 10px;">
                <label style="float:left;margin-top: 5px;">考试地点：</label>
                <input type="text" ng-model="args.address" style="width:150px;float:left;"
                       class="form-control" />
            </div>

            <div style="float:left;margin-left: 10px;">
                <label style="float:left;margin-top: 5px;">考试类型：</label>
                <input type="text" cw-selectstr2="templateOption" ng-model="args.type" style="width:150px;float:left;"
                       class="" />
            </div>
            <div style="float:left;margin-left: 10px;">
                <label style="float:left;margin-top: 5px;">考试负责人：</label>
                <input type="text" cw-selectstr2="templateOption2" ng-model="args.owner" style="width:150px;float:left;"
                       class="" />
            </div>

            <div style="float:left;margin-left:15px;">
                <button ng-click="search_sys_info()" class="btn btn-sm btn-deppon-primary">查询</button>
            </div>

            <div style="float:left;margin-left:15px;">
                <button ng-click="add_sys()" class="btn btn-sm btn-deppon-warning">新增</button>
            </div>




        </div>
    </fieldset>
    <div cw-adaptbody="100" ng-grid="gridOption" style="width:100%;overflow-y: auto;overflow-x: hidden;"></div>
</div>