#cwTopMenu {
    height: 60px;
    width: 57%;
    margin-left: 20px;
    background: #fff;
    float: left;
}

.cw-top-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cw-top-nav > li {
    height: 60px;
    line-height: 60px;
    float: left;
}

.cw-top-nav .cw-top-menu .menu {
    padding: 7px 20px;
    border-radius: 20px;
    margin-left: 10px;
    border: 1px solid #fff;
    display: inline;
}

.cw-top-nav .cw-top-menu .menu > a {
    font-size: 15px;
    color: #333;
}

.cw-top-nav .cw-top-menu .menu > a:hover {
    color: #0180cb;
}

.top-nav-child {
    list-style: none;
    margin-left: 10px;
    background: #37b9ed;
    border-radius: 5px;
    padding: 10px 0;
    cursor: pointer;
    min-width: 125px;
    position: absolute;
    top: 51px;
    z-index: 2;
}

.top-menu-child {
    position: relative;
}

.top-menu-child > a {
    display: inline-block;
    padding: 7px 20px;
    color: #fff;
    font-size: 15px;
    width: 100%;
}

.top-menu-child:hover {
    background: #fff !important;
}

.top-menu-child:hover > a {
    color: #37b9ed;
}

.menu-active {
    border: 1px solid #0180cb !important;
}

.hide-menu-child {
    display: none;
    transition: all linear 0.5s;
}

.top-nav-child3 {
    position: absolute;
    padding: 5px 0;
    left: 125px;
    top: -5px;
    background: #69bded;
    border-radius: 3px;
    line-height: 1.5;
    opacity: 0.9;
}

.top-menu-child3 {
    list-style: none;
    min-width: 120px;
}

.top-menu-child3:hover {
    background: #fff;
}

.top-menu-child3 > a {
    display: inline-block;
    padding: 7px 20px;
    color: #fff;
    font-size: 15px;
    width: 100%;
}

.top-menu-child3:hover > a {
    color: #37b9ed;
}